In [ ]:
pip install pandas

In [1]:
import pandas as pd

In [18]:
green_df = pd.read_csv('green_list_0412.csv')
rc_df = pd.read_csv('recall_list_0412.csv')

In [19]:
green_df[:3]

     기업명  인증연도  제품명
0   대한제지  1997   폐지
1  전주페이퍼  1997   폐지
2  한일시멘트  1999  폐요업

In [20]:
rc_df[:3]

                 기업명  인증연도   리콜종류                                    제품명
0               신지모루  2024  자발적리콜                             마그네틱 보조배터리
1                휴리엔  2024  자발적리콜                             가정용 음식물처리기
2  MTD Products Inc.  2024  자발적리콜  잔디깍기(제로턴 잔디깍기, Zero Turn Lawn Mowers)

In [22]:
company_green = list(set(green_df['기업명']))

# 각 기업명의 카운트 계산
counts = []
for token in company_green:
    count = (green_df['기업명'] == token).sum()
    counts.append(count)

# 결과를 데이터프레임으로 생성
green_df = pd.DataFrame({
    '기업명': company_green,
    '횟수': counts
})

green_df[:3]

               기업명  횟수
0            태영세라믹   1
1  대한장애인복지협회CSI시스템   1
2             다솔산업   1

In [23]:
recall_df = rc_df.pivot_table(index='기업명', columns='리콜종류', aggfunc='size', fill_value=0)
recall_df[:3]

리콜종류        권고에따른리콜  명령에따른리콜  자발적리콜
기업명
(유)그룹세브코리아        0        0      1
(유)나이키코리아         0        1      0
(유)더보케이블          0        2      0